---
- name: Install firewalld package
  yum: pkg=firewalld state=present

- name: Ensure firewalld is running and enabled on boot
  service: name=firewalld state=started enabled=yes


- name: Add firewalld zones and sources from vars
  firewalld:
    zone="{{ item.0.name }}"
    source="{{ item.1 }}"
    state="{{ item.0.state }}"
    permanent="{{ item.0.permanent | default (True) }}"
    immediate=yes
  with_subelements:
  - "firewalld_zones"
  - "sources"
  notify: firewalld reload

- name: Add firewalld zones and services from vars
  firewalld:
    zone="{{ item.0.name }}"
    service="{{ item.1 }}"
    state="{{ item.0.state }}"
    permanent="{{ item.0.permanent | default (True) }}"
    immediate=yes
  with_subelements:
  - "firewalld_zones"
  - "services"
  notify: firewalld reload

#- name: Add firewalld rules for services from vars
#  firewalld:
##    service={{ item.service }}
##    zone={{ item.zone | default ("public") }}
#    permanent={{ item.permanent | default (True) }}
#    state={{ item.state | default ("enabled") }}
#  with_dict: "{{ firewalld_allow_services }}"
#  notify: firewalld reload
#- name: Add firewalld rules for ports from vars
#  firewalld:
#    port={{ item.port }}
#    zone={{ item.zone | default ("public") }}
#    permanent={{ item.permanent | default (True) }}
#    state={{ item.state | default ("enabled") }}
#  with_dict: "{{ firewalld_allow_ports }}"
#  notify: firewalld reload
